/* 
 Horizontal style BEGIN
*/

ul.menu-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.menu-horizontal li {
  float: left;
}

ul.menu-horizontal li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu-horizontal li a:hover:not(.active) {
  background-color: #111;
}


ul.menu-horizontal a.active {
  background-color: #04aa6d;
}

/* 
 Horizontal style END
*/

/* 
 Verical style BEGIN
*/

ul.menu-vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

ul.menu-vertical li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.menu-vertical li a.active {
  background-color: #04aa6d;
  color: white;
}

ul.menu-vertical li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.vertical {
  display: flex;
}
ul.menu-vertical {
  height: 500px;
}
/* 
 Vertical style BEGIN
*/

/* 
 Simple style BEGIN
*/
ul.menu-simple {
  list-style-type: none;
  padding: 0;
  margin: 5;
}

ul.menu-simple li {
  /* 
  display block (default) --> Vertical
  display inline --> Horizontal
  */
  display: inline;
  margin-right: 5px;
}

/* 
 Simple style END
*/
